imports:
    - { resource: security.yml }

framework:
    charset:       UTF-8
    router:        { resource: "%kernel.root_dir%/config/routing.yml" }
    validation:    { enabled: true }
    templating:    { engines: ['twig'] }
    session:
        lifetime:       3600
        auto_start:     true
    secret: xxxxxxxxxxxxxxxxxxxxx # you may want to change this

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%

# Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: false

# Doctrine Configuration
doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                driver:   pdo_mysql
                host:     localhost
                dbname:   symfony_empty
                user:     ~
                password: ~

    orm:
        auto_generate_proxy_classes: %kernel.debug%
        default_entity_manager: default
        entity_managers:
            default:
                mappings:
                    FrameworkBundle: {}


# Swiftmailer Configuration
swiftmailer:
    transport: smtp
    host:      localhost
    username:  ~
    password:  ~

jms_security_extra:
    secure_controllers:  true
    secure_all_services: false
